<!-- Comienza el Header -->
<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title #titulo>
      SkeletonAPP
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<!-- Termina el Header -->

<!-- Comienza el Content -->
<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-title class="ion-padding-top">
    <ion-label class="ion-text-center">
      <h1>Duoc UC</h1>
      <h3>Sistema asistencia DUOC</h3>
      <p *ngIf="usuario">Usuario: {{ usuario.nombre }} {{ usuario.apellido }}</p>      
    </ion-label>
  </ion-title>

  <div class="ion-padding-vertical">
    <ion-card class="ion-text-center ion-padding-vertical">      
      <form>        
        <ion-card-content>
          <p> Recuperar contraseña </p> 
          <h4>¡Correcto!</h4>                   
          <ion-item>
            <p *ngIf="usuario">Tu contraseña es: {{usuario.password}}</p>      
            <!-- <ion-input name="RespuestaSecreta" label="Respuesta secreta" labelPlacement="floating" type="text" [(ngModel)]="respuestaSecretaIngresada"></ion-input> -->
          </ion-item>                    
          <!-- <ion-button shape="block" (click)="verificarRespuestaSecreta()">Recuperar contraseña</ion-button> -->
        </ion-card-content>
      </form>      
      <ion-label>
        <br>
        <a routerLink="/correo">Volver</a>
      </ion-label>
    </ion-card>
  </div>

</ion-content>
