<!-- <ion-content>
  <div class="login-img ion-padding-top ion-text-center">
    <img src="assets/img/logoduoc.png" alt="">
  </div>
  <ion-title class="ion-padding-top ion-text-center">
    <ion-label>
      
      <p>Sistema de asistencia DUOC</p>
    </ion-label>
  </ion-title>

  <div id="login-form" class="ion-padding-vertical">
    <ion-card class="ion-text-center ion-padding-vertical">      
      <form>        
        <ion-card-content>                    
          <ion-item>      
            <ion-icon name="person-circle-outline" slot="end"></ion-icon>
            <ion-input name="correo" label="Correo" labelPlacement="floating" type="text" [(ngModel)]="usuario.correo"></ion-input>
          </ion-item>                    
          <ion-item>
            <ion-icon name="lock-closed-outline" slot="end"></ion-icon>
            <ion-input name="password"  label="Contraseña" labelPlacement="floating" type="password" [(ngModel)]="usuario.password"></ion-input>
          </ion-item>
          <ion-button  class="login-button" (click)="ingresar()">Ingresar</ion-button>
        </ion-card-content>
      </form>      
      <ion-label>
        <br>
        <ion-button class="recuperar-button" fill="clear" routerLink="/correo">
          RECUPERAR CONTRASEÑA
        </ion-button>
      </ion-label>
    </ion-card>
  </div>
</ion-content>
  
<ion-footer>
  <ion-toolbar>
    <ion-title class="footer-title">Copyright © 2023 CodeCrafters.</ion-title>
  </ion-toolbar>
</ion-footer>
 -->

 <ion-content>
  <div class="login-img ion-padding-top ion-text-center">
    <img src="assets/img/logoduoc.png" alt="">
  </div>


  <ion-title class="ion-padding-top ion-text-center">
    <ion-label>
  
      <p class="titulo-login">Sistema de asistencia DUOC</p>
    </ion-label>
  </ion-title>

  <div id="login-form" class="ion-padding-vertical">
    <ion-card class="ion-text-center ion-padding-vertical">      
      <form>        
        <ion-card-content>                    
          <ion-item class="login-input">      
            <ion-icon name="person-circle-outline" slot="end"></ion-icon>
            <ion-input name="correo" label="Correo" labelPlacement="floating" type="text" [(ngModel)]="usuario.correo"></ion-input>
          </ion-item>                    
          <ion-item class="login-input">
            <ion-icon name="lock-closed-outline" slot="end"></ion-icon>
            <ion-input name="password"  label="Contraseña" labelPlacement="floating" type="password" [(ngModel)]="usuario.password"></ion-input>
          </ion-item>
          <ion-button  class="login-button" (click)="ingresar()">Ingresar</ion-button>
        </ion-card-content>
      </form>      
      <ion-label>
        <br>
        <ion-button class="recuperar-button" fill="clear" routerLink="/correo">
          RECUPERAR CONTRASEÑA
        </ion-button>
      </ion-label>
    </ion-card>
  </div>
</ion-content>
  
<ion-footer>
  <ion-toolbar>
    <ion-title class="footer-title">Copyright © 2023 CodeCrafters.</ion-title>
  </ion-toolbar>
</ion-footer>


