<ion-content>
  <ion-title class="ion-padding-top ion-text-center">
    <h1>DuocUC</h1>
    <ion-label>
      <p>Sistema de Asistencia Duoc</p>
    </ion-label>
  </ion-title>

  <div class="ion-padding-vertical">
    <form>
    
    <ion-card colo="danger"class="ion-text-center ion-padding-vertical">
      
    
    <ion-card-title class="ion-text-center">
      <ion-label>
        <h2>Recuperar Contraseña</h2>
        <br>
      </ion-label>
      <ion-label>
        <h1>!Lo SENTIMOS PERO LOS DATOS INGRESADOS NO SON CORRECTOS</h1>
      </ion-label>
      <img src="assets/img/incorrecto.png" alt="Imagen Incorrecta">    
      <ion-label>
        <br>
        <a routerLink="">Iniciar Sesion</a>
      </ion-label>
    </ion-card-title>
  </ion-card>
</form>
  </div>
</ion-content>