<!-- <ion-content>
  <ion-title class="ion-padding-top ion-text-center">
    <h1>DuocUC</h1>
    <ion-label>
      <p>Sistema de Asistencia Duoc</p>
    </ion-label>
  </ion-title>
  <div class="ion-padding-vertical">
    <form>    
    <ion-card colo="danger"class="ion-text-center ion-padding-vertical">    
    
    <ion-card-title class="ion-text-center">
      <ion-label>
        <h2>Recuperar Contraseña</h2>
        <br>
      </ion-label>
      <ion-label>
        <h1>!Lo SENTIMOS PERO LOS DATOS INGRESADOS NO SON CORRECTOS</h1>
      </ion-label>
      <img src="assets/img/error.png" alt="Imagen Incorrecta">    
      <ion-label>
        <br>
        <a routerLink="">Iniciar Sesion</a>
      </ion-label>
    </ion-card-title>
  </ion-card>
</form>
  </div>
</ion-content> -->

<ion-content>
  <div class="incorrecto-img ion-padding-top ion-text-center">
    <img src="assets/img/logoduoc.png" alt="">
  </div>
  <ion-title class="ion-padding-top ion-text-center">
    <ion-label>
      
      <p>Sistema de asistencia DUOC</p>
    </ion-label>
  </ion-title>

  <div id="login-form" class="ion-padding-vertical">
    <ion-card class="ion-text-center ion-padding-vertical">      
      <form>        
        <ion-card-content>      
          <ion-item>      
            <ion-label>
              <h1>Los datos ingresados no son correctos</h1>
            </ion-label>
          </ion-item>
          <div class="incorrecto-img">
            <img src="assets/img/error.png" alt="Imagen Incorrecta">  
          </div>                  
        </ion-card-content>
      </form>      
      <ion-label>
        <br>
        <ion-button class="recuperar-button" fill="clear" routerLink="/inicio">
          Iniciar sesion
        </ion-button>
      </ion-label>
    </ion-card>
  </div>  
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="footer-title">Copyright © 2023 CodeCrafters.</ion-title>
  </ion-toolbar>
</ion-footer>