//IMPORTAR LA FUENTE UBUNTU, PONER ESTE IMPORT EN TODOS LOS CSS DE TODAS LA PAGINAS
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

*{
    font-family: 'Ubuntu'; // HACER ESTO EN TODOS LOS CSS PARA APLICAR LA FUENTE A TODO *
    box-shadow: none !important; // QUITAR LAS SOMBRAS DE LAS "CAJAS"
    background-color: transparent;
}

ion-content {
    --background: url(../../../assets/img/estudio.jpg) no-repeat center/cover fixed;
    
}


.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.scan-button{ // PROPIEDADES DEL BOTON "COMENZAR ESCANEO DE QR"
    width: 320px;
    height: 50px;
    background: #002036ff;
    color: white;
    border: 0;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    transition: all 0.3s;
    margin-left: auto;
    margin-right: auto;
}

.scan-button:hover{ // PROPIEDADES BOTON "COMENZAR ESCANEO DE QR" AL PASAR EL MOUSE POR ENCIMA
    color: #f0ad1bff;
}

ion-card{ // PROPIEDADES DEL CARD, TODO EL TEXTO PRINCIPAL
    display: grid;
    gap: 30px;
    place-items: left;
    width: 100%;
    margin: 0;
    box-shadow: none !important;
}

.cerrar-button{ // PROPIEDADES BOTON CERRAR SESION
    display: grid;
    text-align: center;
    border-bottom: none !important;
    box-shadow: none !important;
    margin-left: 160px;
    margin-right: 150px;
}

.cerrar-button{
    background-color: #002036ff;
    color: white;
    border-radius: 6px;
    width: 180px;
}

.cerrar-button:hover{ // BOTON CERRAR SESION AL PASAR EL MOUSE POR ENCIMA
    color: #f0ad1bff;
    transition: all 0.3s;
}

.login-img{ // AJUSTAR DIV DE LA IMAGEN DUOC
    width: auto;
    object-fit: cover;
    margin-bottom: 30px;
    
}

.login-img >img{ // AJUSTAR ESPECIFICAMENTE LA IMAGEN DUOC
    padding-top: 30px;
    width: 300px;
}

.header-title{
    color: #f0ad1bff;
}

.footer-title{
    text-align: end;
    background-color: #002036ff;
    color: #f0ad1bff;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nombreingreso{
    font-size: 23px;
}

.data-grid{
    display: grid;
    // grid-template-columns: max-content auto;
    gap: 10px;
    color:#002036ff;
}

ion-card-title{
    color: #002036ff;
}
  